.activity-details-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.activity-banner, .activity-body, .activity-body > div {
  display: flex;
  flex-direction: column;
}

.activity-banner, .activity-body {
  gap: 16px;
}

.activity-body > div {
  gap: 8px;
}

.activity-banner {
  margin-top: 16px;
  h1 {
    color: $primary;
  }
  img {
    height: 240px;
    @include media-min($medium) {
      height: 420px;
    }
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}
