<div class="banner">
  <div class="banner-baseline">
    <h1>Trouve l'inattendu avec Paprévu !</h1>
    <h2>
      Un nouveau concept, une soirée délirante, des gens sympas...
      qui sait ce que tu découvriras
    </h2>
  </div>
  <div class="banner-action container">
    <h3>
      <span>583 activités </span>
      à Lille
    </h3>
    <button class="btn btn-primary rounded-pill">Chercher</button>
  </div>
</div>
