<h1>Maps Sandbox</h1>

<h2>Display a map</h2>
<div data-controller="google-maps">
  <div id="map" style="width:100%;height:calc(70vh);;" data-google-maps-target="myMap"></div>
</div>

<h2>Enter an address</h2>
<p>TODO</p>

<h2>Get place details</h2>
<p>TODO</p>
